.eu-cookies-popup {
    position:fixed;
    width: 100%;
    padding: 0.5em 5%;
    background: #565656;
    background: rgba(86,86,86,0.95);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
    z-index: 99999;
    text-align: center;
    color: #fff;
}

.eu-cookies-popup.top {
    left: 0;
    top: 0;
}

.eu-cookies-popup.bottom {
    left: 0;
    bottom: 0;
}
@media screen and (max-width: 480px) {
    .eu-cookies-popup { position: relative; float: left; }
}
