 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{site.title}} {%if title %} - {{title}} {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{baseUrl}}/images/favicon.ico">
    <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{ baseUrl }}/rss.xml">
    {%if site.author %}
    <meta name="author" content="{{site.author}}">
    {% endif %}
    {%if excerpt %}
    <meta name="description" content="{{excerpt}}">
    {% endif %}
    {%if tags %}
    <meta name="keywords" content="{% for tag in tags %}{{tag}}{% if !loop.last %}, {% endif %}{% endfor %}">
    {% endif %}
  </head>
  <body>
    <div class="site-wrap">
      {% include 'partials/header.html' %}
      <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include 'partials/footer.html' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/eu-cookie-law.js"></script>
    <script src="/js/scripts.js"></script>
    {%if site.googleAnalytics %}{% include 'partials/analytics.html' %}{% endif %}
    {% block thirdparty %}{% endblock %}


    {% for tag in tags %} {{tag}} {% if !loop.last %}, {% endif %}{% endfor %}

  </body>
</html>
