{% extends './base.html' %}

{% block content %}
<header class="full site-header px2 px-responsive">
  <div class="wrap">
    <div class="measure jumbotron">
      <h2 class="heading center-block">HELLO!, I'm Fernando.</h2>
      <p>A web developer from Madrid. Want to know more about me?</p>
      <a href="/about" class="button">READ MORE</a>
      <a href="#recent" class="button alt">Or visit my Blog! (Spaish)</a>
    </div>
  </div>
</header>

<div id="recent" class="post p2 p-responsive wrap" role="main">
  <div class="measure">
    {% if collections.posts.length > 0 %}
    <div class="posts">
      <div class="post">
        <h2>Recent Posts</h2>
      </div>
      {% for post in collections.posts %} {% if loop.index
      <=3 %} <div class="post">
        <p class="post-meta">{{ post.date | date('M j, Y') }}</p>
        <a href="{{baseUrl}}/{{post.path}}" class="post-link">
          <h3 class="h2 post-title">{{post.title}}</h3>
        </a>
        <p class="post-summary">
          {{post.excerpt | safe}}
        </p>
    </div>
    {% endif %} {% endfor %}
  </div>
  <div class="pagination clearfix mb1 mt4">
    <div class="right">
      <a class="pagination-item" href="{{ baseUrl }}/blog">view all posts</a>
    </div>
  </div>
  {% endif %} {% endblock %}
</div>
</div>
