{% extends './default.html' %}

{% block header %}
{% include 'partials/header.html' %}
{% endblock %}

{% block content %}
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header mb2">
    <h1 itemprop="headline">{{ title }}</h1>
    <span class="post-meta" itemprop="datePublished" content="{{ date | date('Y-m-d') }}">{{ date | date('M j, Y') }}</span>
    {%if site.author %}<span class="post-meta small">por</span> <span class="post-meta small" itemprop="author">{{site.author}}</span>{% endif %}<br>
    <span class="post-meta small">
    {% for tag in tags %}<a href="{{baseUrl}}/tags/{{tag | replace(' ', '-')}}" title="{{tag}}"><span itemprop="keywords">{{tag}}</span></a>{% if !loop.last %}, {% endif %}{% endfor %}
    </span>
  </header>
  <article class="post-content py2" itemprop="text">
  {%if excerpt %}
  <h6 itemprop="alternativeHeadline">{{excerpt}}</h6>
  {% endif %}
  {{contents |replace(excerpt, '') | safe}}
  </article>
  {% if site.comments && site.disqus %}
    <div class="post-content">
      <div id="disqus_thread"></div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block thirdparty %}
<script type="text/javascript">
  {% if site.comments && site.disqus %}
  // disqus
  var disqus_shortname = '{{site.disqus}}';
  var disqus_title = '{{title}}';
  var disqus_url = '{{site.url}}/{{path}}/';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  {% endif %}
  // Twitter
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
{% endblock %}
